[class*=caballo] {
    position: relative;
}

.caballo2{
    width: 6.5rem;
    display: none;
}

.caballo4{
    width: 5.8rem;
    display: none;
}
.caballoActivo{
    display: inline;
    
}
.pie{
    background-image: url('../img/logo_daniel.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;

}
